<!DOCTYPE html>
<html>
<head>
<!--#include file="/core/include/head.html"--><!--#endinclude-->
</head>
<body>
    <header class="cl">
        <p class="logo l"></p>
    </header>
    <section class="commonBox">
        <div class="transPage">
            <p class="img"><img go:src="{%statics%}/images/core/maintenance.png" width="260" /></p>
            <p class="txt">系统维护中...</p>
            <p class="txt">请稍后再试哦！</p>
        </div>
    </section>
    <!--#include file="/core/include/foot.html"--><!--#endinclude-->
</body>
</html>